@font-face {
  font-family: 'DisneyForPC'; 
  src: url("../fonts/waltograph42-webfont.woff") format('woff');
}

@font-face {
  font-family: 'DisneyForPhone'; 
  src: url('../fonts/waltograph42.otf') format('opentype');
}

@font-face {
  font-family: 'Harenosora'; 
  src: url('../fonts/Harenosora.otf') format('opentype');
}


html, body {
	width: 100%;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	background-color:#020E34;
	-webkit-tap-highlight-color: transparent;
}

.title {
	text-align: center;
/*	vertical-align: middle;*/
	height: 100vh;
	position: relative;
	z-index:10;
	width:100%;

	display: block;	
}

#titleText {
	font-family: 'Harenosora';
	font-size: 5vh;
	text-align: center;
	z-index: 10;
	justify-content: center;
	margin-top: 25vh;
	background: -webkit-linear-gradient(bottom right, #FFF, #F2CC00 5%, #FFF 10%, #D9B700 15%, #FFF 20%, #F2CC00 25%, 
	#FFF 30%, #D9B700 35%, #FFF 40%, #F2CC00 45%, #FFF 50%, #D9B700 55%, #FFF 60%, #F2CC00 65%,
	 #FFF 70%, #D9B700 75%, #FFF 80%, #F2CC00 85%, #FFF 90%, #D9B700 95%, #FFF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}